@model ShopPhuKien.Models.Mcontact

@{
    ViewBag.Title = "San pham";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@Html.Action("Mainmenu", "module")

<section>
    <div class="container-fluid pt-5">
        <div class="container bg-white">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 pt-5 borderr">
                            <h4 class="font-weight-bold text-xanhduong">Bản Đồ</h4>
                        </div><div class="col-md-7 pt-5 border-bottom "></div>
                    </div>
                    <iframe class="w-100 pt-5" src="https://www.google.com/maps/place//data=!4m2!3m1!1s0x3174d12739bb468f:0xe2bf4f397d0aa76?utm_source=mstt_1&entry=gps" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    <div class="row">
                        <div class="col-md-6">
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 pt-5 borderr">
                            <h4 class="font-weight-bold text-xanhduong">Liên Hệ</h4>
                        </div><div class="col-md-7 pt-5 border-bottom "></div>
                    </div>
                    <div class="pt-5">
                        <form action="~/Lienhe/Nhanlienket" name="form_lh" method="post">
                            <label for="psw"><b class="text-secondary">Tên Đầy Đủ Của Bạn</b></label>
                            <input type="text" placeholder="Tên Đầy Đủ" name="fullname" required>
                            <label for="psw"><b class="text-secondary">email</b></label>
                            <input type="text" placeholder="Email" name="email" required>
                            <label for="psw"><b class="text-secondary">Số Điện Thoại</b></label>
                            <input type="text" placeholder="Số Điên Thoại của bạn" name="phone" required>
                            <label for="psw"><b class="text-secondary">Tiêu Đề</b></label>
                            <input type="text" placeholder="Số Điên Thoại của bạn" name="title" required>
                            <label for="psw"><b class="text-secondary">Nội Dung Liên Hệ</b></label>
                            <textarea type="text" placeholder="Nội Dung Liên Hệ" name="detail"></textarea>
                            <button type="submit" class="btn-button w-100 bg-danger">Gửi Liên Hệ</button>
                        </form>
                        <script>
                        </script>
                    </div>
                </div>
            </div>
        </div>
</section>