<section class=" pt-5 ">
    <div class="bg-light container-fluid ">
        <div class="container pt-4">
            <div class="row ">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/public/images/icon1.PNG"  width="90" height="60" alt="">
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2 text-xanhduong font-dam">QUY ĐỊNH ĐỔI TRẢ</h6>
                            <p class="font-14">2Pdd Shop- Cửa hàng Điện tử sẵn sàng hỗ trợ đổi sản phẩm cho bạn trong vòng 30 ngày trên toàn hệ thống.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/public/images/icon2.PNG"  width="90" height="60" alt="">
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2  text-xanhduong font-dam">Bảo Hành sản phẩm và thêm các khoản cực kì hấp dẫn</h6>
                            <p class="font-14">
                                2PDD có chính sách bảo hành vô cùng hấp dẫn:
                                - Chính sách đổi mới 100%
                                -Thời gian xử lý đối với bảo hành sản phẩm lỗi do nhà sản xuất
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/public/images/icon3.PNG"  width="90" height="60" alt="">
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2  text-xanhduong font-dam">KHÁCH HÀNG GẮN BÓ</h6>
                            <p class="font-14"> Chính sách khách hàng gắn bó lâu dài cùng 2PDD : khi mua đơn hàng trị giá 95.000.000Đ, quý khách sẽ được cấp ngay thẻ VIP có ưu đãi 10% và 20% khi sinh nhật.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
