@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;	
}

body{
	font-family: 'Poppins', sans-serif;
	}
	
header{
	display: flex;
	margin:auto;
	width:80%;
	height:10vh;
	align-items: center;
}	
.logo-container{
	flex: 1;
	}
	
.logo{
	font-weight:400;
	margin: 5px;
	text-align:center;
	}
	
		
nav{
	flex: 2;
	}	
.nav-links{
	justify-content: space-around;
	list-style:none;
	}
.nav-link{
	color:#808080;
	text-decoration:none;
	font-size:18px;
	}
	
		
.cart{
	flex: 1;
	justify-content: flex-end;
	}	
.logo-container,
.nav-links,
.cart{
	display: flex;
	}
.presentation{
	display: flex;
	width:90%;
	margin:auto;
	min-height:80vh;
	align-items: center;
	}	
.introduction{
	flex: 1;
	}
.intro-text h1{
	background:linear-gradient(to right,#494964,#6f6f89);
	font-size:44px;
	font-weight:500;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}	
.intro-text p{
	margin-top:5px;
	foont-size:22px;
	color:#585722;
	}	
.cta{
	padding : 50px 0px 0px 0px;
	}
.cta-select{
	border: 2px solid #FCF;
	background:transparent;
	color:#FCF;
	width:150px;
	height:50px;
	cursor: pointer;
	font-size:16px;
	}	
.cta-add{
	background:#FCF;
	color:#FFF;
	width:150px;
	height:50px;
	cursor: pointer;/* con tro chuot dang */
	font-size:16px;
	border: none;
	margin: 30px 0px 0px 30px;
	}
	
.cover{
	flex: 1;
	display:block;
	justify-content: center;
	}
.cover img{
	height: 60vh;
	filter: drop-shadow(0px 5px 10px color:#FF3F00); /* tao mot cai bong cho hinh anh*/
	animation: drop 3s;
	}
	
.big-circle{
	position:absolute;
	top:0px;
	right:0px;
	z-index:-1;
	opacity:0.7;
	height:80%;
	}			
.medium-circle{
	position:absolute;
	top:30%;
	right:30%;
	z-index:-1;
	height:60%;
	}
.small-circle{
	position:absolute;
	top: 70%;
	left:15%;
	z-index:-1;

}	

.laptop-select{
	width: 15%;
	display: flex;
	justify-content: space-around;
	position:absolute;
	right: 25%;
	}
@keyframes drop{
	0%{
		opacity: 0;
		transform: translateY (-80px) ;
		}
	100%{
		opacity: 1;
		transform: translateY (0px);
		}	
	}	
	
@media screen and(max-width:1024px){
	.presentation{
		flex-direction:column;
		}
	.introduction{
		margin-top:5vh;
		text-align:center;
		}	
	.intro-text	h1{
		font-size:30px;
		}
		.intro-text p{
			font-size:18px;
			}
	.cta{
		padding: 10px 0px 0px 0px ;
		}		
	}	